.domobuzz {
    height: 100vh;
    width: 500px;
    background: lightgrey;
    position: fixed;
    right:0px;
    top: 101px;
    z-index: 1000;

}

.hide {
    display: none;
}

.message-holder {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.message{
    width: 100%;
}