.sign-up-nav-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.login-modal {
position: absolute;
height: 550px;
width: 400px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) !important;
border: 1px solid rgb(204, 204, 204);
overflow: auto;
border-radius: 4px;
outline: none;
background: rgb(255, 255, 255);
text-align: center;
}

.exit-button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}

.login-modal img {
  margin-top: 40px;
}

.inside-modal-div {
  position: relative;
  background-color: transparent;
  width: 85%;
  margin: 0 auto;
  top: 40px;
}

.modal-div-inputs {
  margin-bottom: 15px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #cccccc;
}

.sign-up-button {
  color: white;
  width: 302px;
  height: 40px;
  background-color: #FC8F13;
  border: none;
  border-radius: 5px;
}
