.option-popup-container {
  top: 49px;
  width: 212px;
  height: 257px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 4px solid #d2d1d1;
  border-radius: 4px;
  overflow: visible;
}

.options-list-container {
  margin-top: 10px;
  margin-bottom: 5px;
}

.options-list {
  padding-left: 9px;
  height: 33px;
  width: 210px;
  display: flex;
  font-weight: normal;
  align-items: center;
  font-size: 15px;
}

.options-list:hover {
  background-color: rgb(156, 202, 235)
}

.options-list-text {
  margin-left: 7px;
}

.options-break {
  margin-top: 2px;
  margin-bottom: 2px;
}

.last {
  margin-bottom: 12px;
}

.options-graph-size {
  display: flex;
  padding-left: 0px;
}

.custom {
  height: 14px;
  width: 14px;
  margin-top: 2px;
}

.options-graph-size-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.options-box {
  width: 42.5px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}

.options-box:hover {
  background-color: #e8e8e8;
}

.glyphicon-options-page {
  color: #555555;
}

.glyphicon-options-page:hover {
  color: #555555;
}

.glyphicon-stop {
  font-size: 18px;
  margin-bottom: 1px;
  color: #555555
}
