.main-title-container {
  position: absolute;
  top: 101px;
  display: flex;
  margin: 20px 0px 20px 30px;
  width: 96.5%;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.title-divs-container-left {
  font-size: 36px;
  font-weight: 100;
  display: flex;
  align-items: center;
  width: 50%;
}

.title-divs-container-right {
  width: 678px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  right: 5px;
}

.title-shared-container {

}

.title-shared {
  height: 20px;
  width: 30px;
}

.title-users {
  height: 20px;
  width: 30px;
}
